<!DOCTYPE html>
<html>
    <head>
        <title>Users index page</title>
    </head>
    <body>
        <h1>Users</h1>
        <table cellspacing="0" cellpadding="5" border="1">
            <tr>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Age</th>
                <th>Email</th>
            </tr>
            <% @all_users.each do |item| %>
                <tr>
                    <td><%= item["firstname"]%></td>
                    <td><%= item["lastname"]%></td>
                    <td><%= item["age"]%></td>
                    <td><%= item["email"]%></td>
                </tr>
            <% end %>
        </table>
    </body>
</html>